/*
	Reference styling for a date picker
*/
@media all {
  /*
  	Definitions
  */
  /*
  	Typography
  */
  /*
  	calendar input field
  */
  span.date, input.date, input[type=date] {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: block;
    width: 100%;
  }

  span.date {
    position: relative;
  }
  span.date span.date_button {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    border-radius: 2px;
    background: #ffffff;
    border: solid 1px #000;
    cursor: pointer;
    display: block;
    font-size: 10px;
    height: 17px;
    line-height: 1.1;
    margin: -8px 0 0 0;
    overflow: hidden;
    position: absolute;
    right: 5px;
    text-align: center;
    top: 50%;
    width: 17px;
  }
  span.date span.date_button span {
    display: block;
    border-top: solid 4px #c00;
  }

  /*
  	calendar popup
  */
  div.date_popup {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: -webkit-gradient(linear, to bottom, to top, color-stop(0%, #ffffff), color-stop(80%, #ffffff), color-stop(80%, #ffffff), color-stop(100%, #cccccc));
    background: -webkit-linear-gradient(to bottom, #ffffff 0%, #ffffff 80%, #ffffff 80%, #cccccc 100%);
    background: -moz-linear-gradient(to bottom, #ffffff 0%, #ffffff 80%, #ffffff 80%, #cccccc 100%);
    background: -o-linear-gradient(to bottom, #ffffff 0%, #ffffff 80%, #ffffff 80%, #cccccc 100%);
    background: linear-gradient(to bottom, #ffffff 0%, #ffffff 80%, #ffffff 80%, #cccccc 100%);
    -webkit-box-shadow: 0 1px 3px #999999;
    -moz-box-shadow: 0 1px 3px #999999;
    box-shadow: 0 1px 3px #999999;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    background-color: #ffffff;
    border: solid 1px #333;
    position: absolute;
    width: 24em;
  }
  div.date_popup * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  div.date_popup strong, div.date_popup div.date_selectors {
    left: 50%;
    margin-left: -8em;
    position: absolute;
    text-align: center;
    top: 1em;
    width: 16em;
  }
  div.date_popup strong {
    display: none;
  }
  div.date_popup div.date_selectors select {
    margin: 2px;
  }
  div.date_popup button {
    position: absolute;
    padding: 0 5px;
  }
  div.date_popup button.date_previous_month {
    left: 1em;
    top: 1em;
    padding: 0 10px;
  }
  div.date_popup button.date_next_month {
    right: 1em;
    top: 1em;
    padding: 0 10px;
  }
  div.date_popup button.date_previous_year {
    display: none;
    left: 1em;
    top: 1em;
  }
  div.date_popup button.date_next_year {
    display: none;
    right: 1em;
    top: 1em;
  }
  div.date_popup button.date_today {
    right: 1em;
    bottom: 1em;
  }
  div.date_popup button.date_clear {
    left: 1em;
    bottom: 1em;
  }
  div.date_popup div.date_calendar {
    padding: 5em 1em 5em 1em;
  }
  div.date_popup div.date_calendar table {
    border-collapse: collapse;
    border: solid 1px #666;
    margin: 0;
    width: 100%;
  }
  div.date_popup div.date_calendar table tr {
    vertical-align: middle;
  }
  div.date_popup div.date_calendar table th, div.date_popup div.date_calendar table td {
    border: solid 1px #666;
    padding: 3px;
    text-align: center;
    width: 14%;
  }
  div.date_popup div.date_calendar table thead tr th {
    background: #ccc;
  }
  div.date_popup div.date_calendar table thead tr th.date_first {
    background: #bbb;
  }
  div.date_popup div.date_calendar table thead tr th.date_last {
    background: #bbb;
  }
  div.date_popup div.date_calendar table tbody tr td {
    background: #fff;
  }
  div.date_popup div.date_calendar table tbody tr td span, div.date_popup div.date_calendar table tbody tr td a {
    color: #333;
    display: block;
    margin: -3px;
    padding: 3px;
    text-decoration: none;
  }
  div.date_popup div.date_calendar table tbody tr td a:hover {
    background: #9cf;
  }
  div.date_popup div.date_calendar table tbody tr td span {
    color: #999;
  }
  div.date_popup div.date_calendar table tbody tr td.date_first {
    background: #eee;
  }
  div.date_popup div.date_calendar table tbody tr td.date_last {
    background: #eee;
  }
  div.date_popup div.date_calendar table tbody tr td.date_current {
    background: #69c;
  }
  div.date_popup div.date_calendar table tbody tr td.date_current span, div.date_popup div.date_calendar table tbody tr td.date_current a {
    background: #69c;
    color: #fff;
  }

  div.date_popup.date_hidden {
    visibility: hidden;
  }

  div.date_popup.date_visible {
    visibility: visible;
  }
}
@media all {
  /*
  	The root element
  */
  html {
    font-family: Tahoma, Verdana, Arial, Sans-Serif;
    font-size: 75%;
    height: 100%;
  }

  /*
  	Sections
  */
  body {
    font-size: "12px";
    font-size: 1rem;
    margin-top: 0px;
    margin-top: 0rem;
    margin-right: 0px;
    margin-right: 0rem;
    margin-bottom: 0px;
    margin-bottom: 0rem;
    margin-left: 0px;
    margin-left: 0rem;
    padding-top: 0px;
    padding-top: 0rem;
    padding-right: 0px;
    padding-right: 0rem;
    padding-bottom: 0px;
    padding-bottom: 0rem;
    padding-left: 0px;
    padding-left: 0rem;
    line-height: 21.6px;
    line-height: 1.8rem;
    background: #eee;
    color: #333;
    _height: 100%;
    min-height: 100%;
  }

  h1, h2, h3, h4, h5, h6 {
    font-size: "12px";
    font-size: 1rem;
    margin-top: 0px;
    margin-top: 0rem;
    margin-right: 0px;
    margin-right: 0rem;
    margin-bottom: 6px;
    margin-bottom: 0.5rem;
    margin-left: 0px;
    margin-left: 0rem;
    display: block;
    font-weight: normal;
  }

  h1 {
    font-size: "22.5px";
    font-size: 1.875rem;
  }

  h2 {
    font-size: "19.5px";
    font-size: 1.625rem;
  }

  h3 {
    font-size: "15px";
    font-size: 1.25rem;
  }

  address {
    display: block;
    font-style: normal;
  }

  section, nav, article, aside, hgroup, header, footer {
    display: block;
  }

  /*
  	Grouping content
  */
  p {
    font-size: "12px";
    font-size: 1rem;
    display: block;
  }

  hr {
    margin-top: 12px;
    margin-top: 1rem;
    margin-right: 0px;
    margin-right: 0rem;
    margin-bottom: 12px;
    margin-bottom: 1rem;
    margin-left: 0px;
    margin-left: 0rem;
    background-color: #333;
    border: none;
    clear: both;
    color: #333;
    display: block;
    height: 1px;
    width: 100%;
  }

  ul {
    margin-top: 0px;
    margin-top: 0rem;
    margin-right: 0px;
    margin-right: 0rem;
    margin-bottom: 12px;
    margin-bottom: 1rem;
    margin-left: 24px;
    margin-left: 2rem;
    padding-top: 0px;
    padding-top: 0rem;
    padding-right: 0px;
    padding-right: 0rem;
    padding-bottom: 0px;
    padding-bottom: 0rem;
    padding-left: 0px;
    padding-left: 0rem;
    display: block;
  }

  dl {
    margin-top: 0px;
    margin-top: 0rem;
    margin-right: 0px;
    margin-right: 0rem;
    margin-bottom: 12px;
    margin-bottom: 1rem;
    margin-left: 0px;
    margin-left: 0rem;
    display: block;
  }

  dt {
    margin-top: 0px;
    margin-top: 0rem;
    margin-right: 0px;
    margin-right: 0rem;
    margin-bottom: 0px;
    margin-bottom: 0rem;
    margin-left: 0px;
    margin-left: 0rem;
    display: block;
    font-weight: bold;
  }

  dd {
    margin-top: 0px;
    margin-top: 0rem;
    margin-right: 0px;
    margin-right: 0rem;
    margin-bottom: 0px;
    margin-bottom: 0rem;
    margin-left: 0px;
    margin-left: 0rem;
    display: block;
  }

  pre, dialog, blockquote, ol {
    display: block;
  }

  /*
  	Text-level semantics
  */
  a {
    color: #ff6a00;
    text-decoration: underline;
  }

  a:hover {
    color: #ff9800;
    text-decoration: underline;
  }

  sub {
    line-height: 0;
  }

  sup {
    line-height: 0;
  }

  time, progress, meter {
    display: block;
  }

  /*
  	Embedded content
  */
  img {
    border: none;
    vertical-align: middle;
  }

  figure, figcaption, video, audio, canvas {
    display: block;
  }

  /* Tabular data */
  table {
    margin-top: 0px;
    margin-top: 0rem;
    margin-right: 0px;
    margin-right: 0rem;
    margin-bottom: 12px;
    margin-bottom: 1rem;
    margin-left: 0px;
    margin-left: 0rem;
    border-collapse: collapse;
  }

  caption {
    font-size: "15px";
    font-size: 1.25rem;
    font-weight: bold;
    text-align: left;
  }

  tr {
    vertical-align: top;
  }
  tr:nth-child(2n) {
    background-color: #eeeeee;
  }

  th, td {
    padding-top: 6px;
    padding-top: 0.5rem;
    padding-right: 12px;
    padding-right: 1rem;
    padding-bottom: 6px;
    padding-bottom: 0.5rem;
    padding-left: 12px;
    padding-left: 1rem;
  }

  th, th a, th a:hover {
    background-color: #ff9800;
    color: #fff;
    font-weight: normal;
    white-space: nowrap;
    text-align: left;
    text-decoration: none;
  }

  /*
  	Forms
  */
  form {
    margin-top: 0px;
    margin-top: 0rem;
    margin-right: 0px;
    margin-right: 0rem;
    margin-bottom: 0px;
    margin-bottom: 0rem;
    margin-left: 0px;
    margin-left: 0rem;
  }

  fieldset {
    margin-top: 0px;
    margin-top: 0rem;
    margin-right: 0px;
    margin-right: 0rem;
    margin-bottom: 12px;
    margin-bottom: 1rem;
    margin-left: 0px;
    margin-left: 0rem;
    padding-top: 0px;
    padding-top: 0rem;
    padding-right: 0px;
    padding-right: 0rem;
    padding-bottom: 0px;
    padding-bottom: 0rem;
    padding-left: 0px;
    padding-left: 0rem;
    display: block;
    border: none;
  }

  legend {
    margin-top: 0px;
    margin-top: 0rem;
    margin-right: 0px;
    margin-right: 0rem;
    margin-bottom: 6px;
    margin-bottom: 0.5rem;
    margin-left: 0px;
    margin-left: 0rem;
    display: block;
    font-weight: bold;
  }

  input, button, select, textarea {
    font-size: "12px";
    font-size: 1rem;
    font-family: Tahoma, Verdana, Arial, Sans-Serif;
    vertical-align: baseline;
  }

  input[type=color], input[type=range], input[type=number], input[type=date], input[type=text], input[type=password], input[type=email], select, textarea {
    -webkit-box-shadow: inset 0 0 5px #cccccc;
    -moz-box-shadow: inset 0 0 5px #cccccc;
    box-shadow: inset 0 0 5px #cccccc;
    height: 36px;
    height: 3rem;
    font-size: 12px;
    font-size: 1rem;
    padding: 8.4px;
    padding: 0.7rem;
    margin-top: 8.4px;
    margin-top: 0.7rem;
    margin-right: 0px;
    margin-right: 0rem;
    margin-bottom: 8.4px;
    margin-bottom: 0.7rem;
    margin-left: 0px;
    margin-left: 0rem;
    background: #fff;
    border: solid 1px #333;
    font-family: Arial, Sans-Serif;
  }

  input[type=checkbox], input[type=radio] {
    margin-top: 8.4px;
    margin-top: 0.7rem;
    margin-right: 3.6px;
    margin-right: 0.3rem;
    margin-bottom: 8.4px;
    margin-bottom: 0.7rem;
    margin-left: 0px;
    margin-left: 0rem;
  }

  select {
    height: 36px;
    height: 3rem;
    padding: 8.4px;
    padding: 0.7rem;
  }

  textarea {
    height: 120px;
    height: 10rem;
    padding: 8.4px;
    padding: 0.7rem;
  }

  button, .button {
    -webkit-transition-property: background-color;
    -moz-transition-property: background-color;
    -o-transition-property: background-color;
    transition-property: background-color;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease;
    -moz-transition-timing-function: ease;
    -o-transition-timing-function: ease;
    transition-timing-function: ease;
    height: 36px;
    height: 3rem;
    line-height: 36px;
    line-height: 3rem;
    margin-top: 0px;
    margin-top: 0rem;
    margin-right: 0px;
    margin-right: 0rem;
    margin-bottom: 0px;
    margin-bottom: 0rem;
    margin-left: 0px;
    margin-left: 0rem;
    padding-top: 0px;
    padding-top: 0rem;
    padding-right: 12px;
    padding-right: 1rem;
    padding-bottom: 0px;
    padding-bottom: 0rem;
    padding-left: 12px;
    padding-left: 1rem;
    background-color: #ff6a00;
    border: none;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    overflow: visible;
    text-decoration: none;
  }
  button:hover, .button:hover {
    background-color: #ff9800;
    color: #fff;
    text-decoration: none;
  }
  button.disabled, button.disabled:hover, .button.disabled, .button.disabled:hover {
    background-color: #7f7f7f;
  }

  /*
  	Interactive elements
  */
  menu {
    margin-top: 0px;
    margin-top: 0rem;
    margin-right: 0px;
    margin-right: 0rem;
    margin-bottom: 0px;
    margin-bottom: 0rem;
    margin-left: 0px;
    margin-left: 0rem;
    padding-top: 0px;
    padding-top: 0rem;
    padding-right: 0px;
    padding-right: 0rem;
    padding-bottom: 0px;
    padding-bottom: 0rem;
    padding-left: 0px;
    padding-left: 0rem;
    display: block;
  }

  /*
  	Miscellaneous elements
  */
  div {
    display: block;
  }
}
@media all and (max-width: 480px) {
  html {
    font-size: 62.5%;
  }
}
