/*
Constants
*/
/*
Hides text in the margin
*/
/*
Turns a button into an icon
*/
/*
Centres a graphic or glyph inside an icon
*/
/*
Offers both the pixel and rem value of a single property
*/
/*
Offers both the pixel and rem values of a shorthand property
*/
/*
Offers the text size as both the pixel and rem value
*/
/*
Adds vendor prefixed to a property
*/
/*
Applies the "clearfix" hack to a container with floating content
*/
/*
	calendar input field
*/
/* line 7, ../../src/scss/useful-date.scss */
span.date, input.date, input[type=date] {
  box-sizing: border-box;
  display: block;
  width: 100%;
  margin-bottom: 1em;
}

/* line 13, ../../src/scss/useful-date.scss */
span.date {
  position: relative;
}
/* line 15, ../../src/scss/useful-date.scss */
span.date span.date_button {
  box-sizing: border-box;
  border-radius: 2px;
  background: #ffffff;
  border: solid 1px #000;
  cursor: pointer;
  display: block;
  font-size: 10px;
  height: 17px;
  line-height: 1.1;
  margin: -8px 0 0 0;
  overflow: hidden;
  position: absolute;
  right: 1em;
  text-align: center;
  top: 50%;
  width: 17px;
}
/* line 32, ../../src/scss/useful-date.scss */
span.date span.date_button span {
  display: block;
  border-top: solid 4px #c00;
}

/*
	calendar popup
*/
/* line 41, ../../src/scss/useful-date.scss */
div.date_popup {
  box-sizing: border-box;
  background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIvPjxzdG9wIG9mZnNldD0iODAlIiBzdG9wLWNvbG9yPSIjZmZmZmZmIi8+PHN0b3Agb2Zmc2V0PSI4MCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNjY2NjY2MiLz48L2xpbmVhckdyYWRpZW50PjwvZGVmcz48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI2dyYWQpIiAvPjwvc3ZnPiA=');
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(80%, #ffffff), color-stop(80%, #ffffff), color-stop(100%, #cccccc));
  background: -webkit-linear-gradient(top, #ffffff 0%, #ffffff 80%, #ffffff 80%, #cccccc 100%);
  background: linear-gradient(to bottom, #ffffff 0%, #ffffff 80%, #ffffff 80%, #cccccc 100%);
  box-shadow: 0 1px 3px #999;
  border-radius: 3px;
  background-color: #ffffff;
  border: solid 1px #333;
  position: absolute;
  width: 24em;
}
/* line 50, ../../src/scss/useful-date.scss */
div.date_popup * {
  box-sizing: border-box;
}
/* line 53, ../../src/scss/useful-date.scss */
div.date_popup strong, div.date_popup div.date_selectors {
  left: 50%;
  margin-left: -8em;
  position: absolute;
  text-align: center;
  top: 1em;
  width: 16em;
}
/* line 61, ../../src/scss/useful-date.scss */
div.date_popup strong {
  display: none;
}
/* line 65, ../../src/scss/useful-date.scss */
div.date_popup div.date_selectors select {
  margin: 2px;
}
/* line 69, ../../src/scss/useful-date.scss */
div.date_popup button {
  position: absolute;
  padding: 0 5px;
}
/* line 73, ../../src/scss/useful-date.scss */
div.date_popup button.date_previous_month {
  left: 1em;
  top: 1em;
  padding: 0 10px;
}
/* line 78, ../../src/scss/useful-date.scss */
div.date_popup button.date_next_month {
  right: 1em;
  top: 1em;
  padding: 0 10px;
}
/* line 83, ../../src/scss/useful-date.scss */
div.date_popup button.date_previous_year {
  display: none;
  left: 1em;
  top: 1em;
}
/* line 88, ../../src/scss/useful-date.scss */
div.date_popup button.date_next_year {
  display: none;
  right: 1em;
  top: 1em;
}
/* line 93, ../../src/scss/useful-date.scss */
div.date_popup button.date_today {
  right: 1em;
  bottom: 1em;
}
/* line 97, ../../src/scss/useful-date.scss */
div.date_popup button.date_clear {
  left: 1em;
  bottom: 1em;
}
/* line 101, ../../src/scss/useful-date.scss */
div.date_popup div.date_calendar {
  padding: 5em 1em 5em 1em;
}
/* line 103, ../../src/scss/useful-date.scss */
div.date_popup div.date_calendar table {
  border-collapse: collapse;
  border: solid 1px #666;
  margin: 0;
  width: 100%;
}
/* line 108, ../../src/scss/useful-date.scss */
div.date_popup div.date_calendar table tr {
  vertical-align: middle;
}
/* line 111, ../../src/scss/useful-date.scss */
div.date_popup div.date_calendar table th, div.date_popup div.date_calendar table td {
  border: solid 1px #666;
  padding: 3px;
  text-align: center;
  width: 14%;
}
/* line 119, ../../src/scss/useful-date.scss */
div.date_popup div.date_calendar table thead tr th {
  background: #ccc;
}
/* line 122, ../../src/scss/useful-date.scss */
div.date_popup div.date_calendar table thead tr th.date_first {
  background: #bbb;
}
/* line 125, ../../src/scss/useful-date.scss */
div.date_popup div.date_calendar table thead tr th.date_last {
  background: #bbb;
}
/* line 132, ../../src/scss/useful-date.scss */
div.date_popup div.date_calendar table tbody tr td {
  background: #fff;
}
/* line 134, ../../src/scss/useful-date.scss */
div.date_popup div.date_calendar table tbody tr td span, div.date_popup div.date_calendar table tbody tr td a {
  color: #333;
  display: block;
  margin: -3px;
  padding: 3px;
  text-decoration: none;
}
/* line 141, ../../src/scss/useful-date.scss */
div.date_popup div.date_calendar table tbody tr td a:hover {
  background: #9cf;
}
/* line 144, ../../src/scss/useful-date.scss */
div.date_popup div.date_calendar table tbody tr td span {
  color: #999;
}
/* line 148, ../../src/scss/useful-date.scss */
div.date_popup div.date_calendar table tbody tr td.date_first {
  background: #eee;
}
/* line 151, ../../src/scss/useful-date.scss */
div.date_popup div.date_calendar table tbody tr td.date_last {
  background: #eee;
}
/* line 154, ../../src/scss/useful-date.scss */
div.date_popup div.date_calendar table tbody tr td.date_current {
  background: #69c;
}
/* line 156, ../../src/scss/useful-date.scss */
div.date_popup div.date_calendar table tbody tr td.date_current span, div.date_popup div.date_calendar table tbody tr td.date_current a {
  background: #69c;
  color: #fff;
}

/* line 166, ../../src/scss/useful-date.scss */
div.date_popup.date_hidden {
  visibility: hidden;
}

/* line 169, ../../src/scss/useful-date.scss */
div.date_popup.date_visible {
  visibility: visible;
}
