/*
	Reference styling for a date picker
*/
@media all {
  /*
  	Definitions
  */
  /*
  	Constants
  */
  /*
  	Hides text in the margin
  */
  /*
  	Turns a button into an icon
  */
  /*
  	Centres a graphic inside an icon
  */
  /*
  	Offers both the pixel and rem value of a single property
  */
  /*
  	Offers both the pixel and rem values of a shorthand property
  */
  /*
  	Offers the text size as both the pixel and rem value
  */
  /*
  	Adds vendor prefixed to a property
  */
  /*
  	Applies the "clearfix" hack to a container with floating content
  */
  /*
  	Typography
  */
  /*
  	calendar input field
  */
  /* line 12, ../../src/scss/useful-date.scss */
  span.date, input.date, input[type=date] {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: block;
    width: 100%;
  }

  /* line 17, ../../src/scss/useful-date.scss */
  span.date {
    position: relative;
  }
  /* line 19, ../../src/scss/useful-date.scss */
  span.date span.date_button {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    border-radius: 2px;
    background: #ffffff;
    border: solid 1px #000;
    cursor: pointer;
    display: block;
    font-size: 10px;
    height: 17px;
    line-height: 1.1;
    margin: -8px 0 0 0;
    overflow: hidden;
    position: absolute;
    right: 1em;
    text-align: center;
    top: 50%;
    width: 17px;
  }
  /* line 36, ../../src/scss/useful-date.scss */
  span.date span.date_button span {
    display: block;
    border-top: solid 4px #c00;
  }

  /*
  	calendar popup
  */
  /* line 45, ../../src/scss/useful-date.scss */
  div.date_popup {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(80%, #ffffff), color-stop(80%, #ffffff), color-stop(100%, #cccccc));
    background: -webkit-linear-gradient(top, #ffffff 0%, #ffffff 80%, #ffffff 80%, #cccccc 100%);
    background: -moz-linear-gradient(top, #ffffff 0%, #ffffff 80%, #ffffff 80%, #cccccc 100%);
    background: -o-linear-gradient(top, #ffffff 0%, #ffffff 80%, #ffffff 80%, #cccccc 100%);
    background: linear-gradient(top, #ffffff 0%, #ffffff 80%, #ffffff 80%, #cccccc 100%);
    -webkit-box-shadow: 0 1px 3px #999999;
    -moz-box-shadow: 0 1px 3px #999999;
    box-shadow: 0 1px 3px #999999;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    background-color: #ffffff;
    border: solid 1px #333;
    position: absolute;
    width: 24em;
  }
  /* line 54, ../../src/scss/useful-date.scss */
  div.date_popup * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  /* line 57, ../../src/scss/useful-date.scss */
  div.date_popup strong, div.date_popup div.date_selectors {
    left: 50%;
    margin-left: -8em;
    position: absolute;
    text-align: center;
    top: 1em;
    width: 16em;
  }
  /* line 65, ../../src/scss/useful-date.scss */
  div.date_popup strong {
    display: none;
  }
  /* line 69, ../../src/scss/useful-date.scss */
  div.date_popup div.date_selectors select {
    margin: 2px;
  }
  /* line 73, ../../src/scss/useful-date.scss */
  div.date_popup button {
    position: absolute;
    padding: 0 5px;
  }
  /* line 77, ../../src/scss/useful-date.scss */
  div.date_popup button.date_previous_month {
    left: 1em;
    top: 1em;
    padding: 0 10px;
  }
  /* line 82, ../../src/scss/useful-date.scss */
  div.date_popup button.date_next_month {
    right: 1em;
    top: 1em;
    padding: 0 10px;
  }
  /* line 87, ../../src/scss/useful-date.scss */
  div.date_popup button.date_previous_year {
    display: none;
    left: 1em;
    top: 1em;
  }
  /* line 92, ../../src/scss/useful-date.scss */
  div.date_popup button.date_next_year {
    display: none;
    right: 1em;
    top: 1em;
  }
  /* line 97, ../../src/scss/useful-date.scss */
  div.date_popup button.date_today {
    right: 1em;
    bottom: 1em;
  }
  /* line 101, ../../src/scss/useful-date.scss */
  div.date_popup button.date_clear {
    left: 1em;
    bottom: 1em;
  }
  /* line 105, ../../src/scss/useful-date.scss */
  div.date_popup div.date_calendar {
    padding: 5em 1em 5em 1em;
  }
  /* line 107, ../../src/scss/useful-date.scss */
  div.date_popup div.date_calendar table {
    border-collapse: collapse;
    border: solid 1px #666;
    margin: 0;
    width: 100%;
  }
  /* line 112, ../../src/scss/useful-date.scss */
  div.date_popup div.date_calendar table tr {
    vertical-align: middle;
  }
  /* line 115, ../../src/scss/useful-date.scss */
  div.date_popup div.date_calendar table th, div.date_popup div.date_calendar table td {
    border: solid 1px #666;
    padding: 3px;
    text-align: center;
    width: 14%;
  }
  /* line 123, ../../src/scss/useful-date.scss */
  div.date_popup div.date_calendar table thead tr th {
    background: #ccc;
  }
  /* line 126, ../../src/scss/useful-date.scss */
  div.date_popup div.date_calendar table thead tr th.date_first {
    background: #bbb;
  }
  /* line 129, ../../src/scss/useful-date.scss */
  div.date_popup div.date_calendar table thead tr th.date_last {
    background: #bbb;
  }
  /* line 136, ../../src/scss/useful-date.scss */
  div.date_popup div.date_calendar table tbody tr td {
    background: #fff;
  }
  /* line 138, ../../src/scss/useful-date.scss */
  div.date_popup div.date_calendar table tbody tr td span, div.date_popup div.date_calendar table tbody tr td a {
    color: #333;
    display: block;
    margin: -3px;
    padding: 3px;
    text-decoration: none;
  }
  /* line 145, ../../src/scss/useful-date.scss */
  div.date_popup div.date_calendar table tbody tr td a:hover {
    background: #9cf;
  }
  /* line 148, ../../src/scss/useful-date.scss */
  div.date_popup div.date_calendar table tbody tr td span {
    color: #999;
  }
  /* line 152, ../../src/scss/useful-date.scss */
  div.date_popup div.date_calendar table tbody tr td.date_first {
    background: #eee;
  }
  /* line 155, ../../src/scss/useful-date.scss */
  div.date_popup div.date_calendar table tbody tr td.date_last {
    background: #eee;
  }
  /* line 158, ../../src/scss/useful-date.scss */
  div.date_popup div.date_calendar table tbody tr td.date_current {
    background: #69c;
  }
  /* line 160, ../../src/scss/useful-date.scss */
  div.date_popup div.date_calendar table tbody tr td.date_current span, div.date_popup div.date_calendar table tbody tr td.date_current a {
    background: #69c;
    color: #fff;
  }

  /* line 170, ../../src/scss/useful-date.scss */
  div.date_popup.date_hidden {
    visibility: hidden;
  }

  /* line 173, ../../src/scss/useful-date.scss */
  div.date_popup.date_visible {
    visibility: visible;
  }
}
@media all {
  /*
  	The root element
  */
  /* line 8, ../../src/scss/_typography.scss */
  html {
    font-family: Tahoma, Verdana, Arial, Sans-Serif;
    font-size: 75%;
    height: 100%;
  }

  /*
  	Sections
  */
  /* line 16, ../../src/scss/_typography.scss */
  body {
    font-size: 12px;
    font-size: 1rem;
    margin-top: 0px;
    margin-top: 0rem;
    margin-right: 0px;
    margin-right: 0rem;
    margin-bottom: 0px;
    margin-bottom: 0rem;
    margin-left: 0px;
    margin-left: 0rem;
    padding-top: 0px;
    padding-top: 0rem;
    padding-right: 0px;
    padding-right: 0rem;
    padding-bottom: 0px;
    padding-bottom: 0rem;
    padding-left: 0px;
    padding-left: 0rem;
    line-height: 21.6px;
    line-height: 1.8rem;
    background: #eee;
    color: #333;
    _height: 100%;
    min-height: 100%;
  }

  /* line 26, ../../src/scss/_typography.scss */
  h1, h2, h3, h4, h5, h6 {
    font-size: 12px;
    font-size: 1rem;
    margin-top: 0px;
    margin-top: 0rem;
    margin-right: 0px;
    margin-right: 0rem;
    margin-bottom: 6px;
    margin-bottom: 0.5rem;
    margin-left: 0px;
    margin-left: 0rem;
    display: block;
    font-weight: normal;
  }

  /* line 32, ../../src/scss/_typography.scss */
  h1 {
    font-size: 22.5px;
    font-size: 1.875rem;
  }

  /* line 35, ../../src/scss/_typography.scss */
  h2 {
    font-size: 19.5px;
    font-size: 1.625rem;
  }

  /* line 38, ../../src/scss/_typography.scss */
  h3 {
    font-size: 15px;
    font-size: 1.25rem;
  }

  /* line 41, ../../src/scss/_typography.scss */
  address {
    display: block;
    font-style: normal;
  }

  /* line 45, ../../src/scss/_typography.scss */
  section, nav, article, aside, hgroup, header, footer {
    display: block;
  }

  /*
  	Grouping content
  */
  /* line 51, ../../src/scss/_typography.scss */
  p {
    font-size: 12px;
    font-size: 1rem;
    display: block;
  }

  /* line 55, ../../src/scss/_typography.scss */
  hr {
    margin-top: 12px;
    margin-top: 1rem;
    margin-right: 0px;
    margin-right: 0rem;
    margin-bottom: 12px;
    margin-bottom: 1rem;
    margin-left: 0px;
    margin-left: 0rem;
    background-color: #333;
    border: none;
    clear: both;
    color: #333;
    display: block;
    height: 1px;
    width: 100%;
  }

  /* line 65, ../../src/scss/_typography.scss */
  ul {
    margin-top: 0px;
    margin-top: 0rem;
    margin-right: 0px;
    margin-right: 0rem;
    margin-bottom: 12px;
    margin-bottom: 1rem;
    margin-left: 24px;
    margin-left: 2rem;
    padding-top: 0px;
    padding-top: 0rem;
    padding-right: 0px;
    padding-right: 0rem;
    padding-bottom: 0px;
    padding-bottom: 0rem;
    padding-left: 0px;
    padding-left: 0rem;
    display: block;
  }

  /* line 71, ../../src/scss/_typography.scss */
  dl {
    margin-top: 0px;
    margin-top: 0rem;
    margin-right: 0px;
    margin-right: 0rem;
    margin-bottom: 12px;
    margin-bottom: 1rem;
    margin-left: 0px;
    margin-left: 0rem;
    display: block;
  }

  /* line 75, ../../src/scss/_typography.scss */
  dt {
    margin-top: 0px;
    margin-top: 0rem;
    margin-right: 0px;
    margin-right: 0rem;
    margin-bottom: 0px;
    margin-bottom: 0rem;
    margin-left: 0px;
    margin-left: 0rem;
    display: block;
    font-weight: bold;
  }

  /* line 80, ../../src/scss/_typography.scss */
  dd {
    margin-top: 0px;
    margin-top: 0rem;
    margin-right: 0px;
    margin-right: 0rem;
    margin-bottom: 0px;
    margin-bottom: 0rem;
    margin-left: 0px;
    margin-left: 0rem;
    display: block;
  }

  /* line 84, ../../src/scss/_typography.scss */
  pre, dialog, blockquote, ol {
    display: block;
  }

  /*
  	Text-level semantics
  */
  /* line 90, ../../src/scss/_typography.scss */
  a {
    color: #ff6a00;
    text-decoration: underline;
  }

  /* line 94, ../../src/scss/_typography.scss */
  a:hover {
    color: #ff9800;
    text-decoration: underline;
  }

  /* line 98, ../../src/scss/_typography.scss */
  sub {
    line-height: 0;
  }

  /* line 101, ../../src/scss/_typography.scss */
  sup {
    line-height: 0;
  }

  /* line 104, ../../src/scss/_typography.scss */
  time, progress, meter {
    display: block;
  }

  /*
  	Embedded content
  */
  /* line 110, ../../src/scss/_typography.scss */
  img {
    border: none;
    vertical-align: middle;
  }

  /* line 114, ../../src/scss/_typography.scss */
  figure, figcaption, video, audio, canvas {
    display: block;
  }

  /* Tabular data */
  /* line 118, ../../src/scss/_typography.scss */
  table {
    margin-top: 0px;
    margin-top: 0rem;
    margin-right: 0px;
    margin-right: 0rem;
    margin-bottom: 12px;
    margin-bottom: 1rem;
    margin-left: 0px;
    margin-left: 0rem;
    border-collapse: collapse;
  }

  /* line 122, ../../src/scss/_typography.scss */
  caption {
    font-size: 15px;
    font-size: 1.25rem;
    font-weight: bold;
    text-align: left;
  }

  /* line 128, ../../src/scss/_typography.scss */
  tr {
    vertical-align: top;
  }
  /* line 130, ../../src/scss/_typography.scss */
  tr:nth-child(2n) {
    background-color: #eeeeee;
  }

  /* line 132, ../../src/scss/_typography.scss */
  th, td {
    padding-top: 6px;
    padding-top: 0.5rem;
    padding-right: 12px;
    padding-right: 1rem;
    padding-bottom: 6px;
    padding-bottom: 0.5rem;
    padding-left: 12px;
    padding-left: 1rem;
  }

  /* line 135, ../../src/scss/_typography.scss */
  th, th a, th a:hover {
    background-color: #ff9800;
    color: #fff;
    font-weight: normal;
    white-space: nowrap;
    text-align: left;
    text-decoration: none;
  }

  /*
  	Forms
  */
  /* line 146, ../../src/scss/_typography.scss */
  form {
    margin-top: 0px;
    margin-top: 0rem;
    margin-right: 0px;
    margin-right: 0rem;
    margin-bottom: 0px;
    margin-bottom: 0rem;
    margin-left: 0px;
    margin-left: 0rem;
  }

  /* line 149, ../../src/scss/_typography.scss */
  fieldset {
    margin-top: 0px;
    margin-top: 0rem;
    margin-right: 0px;
    margin-right: 0rem;
    margin-bottom: 12px;
    margin-bottom: 1rem;
    margin-left: 0px;
    margin-left: 0rem;
    padding-top: 0px;
    padding-top: 0rem;
    padding-right: 0px;
    padding-right: 0rem;
    padding-bottom: 0px;
    padding-bottom: 0rem;
    padding-left: 0px;
    padding-left: 0rem;
    display: block;
    border: none;
  }

  /* line 155, ../../src/scss/_typography.scss */
  legend {
    margin-top: 0px;
    margin-top: 0rem;
    margin-right: 0px;
    margin-right: 0rem;
    margin-bottom: 6px;
    margin-bottom: 0.5rem;
    margin-left: 0px;
    margin-left: 0rem;
    display: block;
    font-weight: bold;
  }

  /* line 161, ../../src/scss/_typography.scss */
  input, button, select, textarea {
    font-size: 12px;
    font-size: 1rem;
    font-family: Tahoma, Verdana, Arial, Sans-Serif;
    vertical-align: baseline;
  }

  /* line 166, ../../src/scss/_typography.scss */
  input[type=color], input[type=range], input[type=number], input[type=date], input[type=text], input[type=password], input[type=email], select, textarea {
    -webkit-box-shadow: inset 0 0 5px #cccccc;
    -moz-box-shadow: inset 0 0 5px #cccccc;
    box-shadow: inset 0 0 5px #cccccc;
    height: 36px;
    height: 3rem;
    font-size: 12px;
    font-size: 1rem;
    padding: 8.4px;
    padding: 0.7rem;
    margin-top: 8.4px;
    margin-top: 0.7rem;
    margin-right: 0px;
    margin-right: 0rem;
    margin-bottom: 8.4px;
    margin-bottom: 0.7rem;
    margin-left: 0px;
    margin-left: 0rem;
    background: #fff;
    border: solid 1px #333;
    font-family: Arial, Sans-Serif;
  }

  /* line 176, ../../src/scss/_typography.scss */
  input[type=checkbox], input[type=radio] {
    margin-top: 8.4px;
    margin-top: 0.7rem;
    margin-right: 3.6px;
    margin-right: 0.3rem;
    margin-bottom: 8.4px;
    margin-bottom: 0.7rem;
    margin-left: 0px;
    margin-left: 0rem;
  }

  /* line 179, ../../src/scss/_typography.scss */
  select {
    height: 36px;
    height: 3rem;
    padding: 8.4px;
    padding: 0.7rem;
  }

  /* line 183, ../../src/scss/_typography.scss */
  textarea {
    height: 120px;
    height: 10rem;
    padding: 8.4px;
    padding: 0.7rem;
  }

  /* line 187, ../../src/scss/_typography.scss */
  button, .button {
    -webkit-transition-property: background-color;
    -moz-transition-property: background-color;
    -o-transition-property: background-color;
    transition-property: background-color;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease;
    -moz-transition-timing-function: ease;
    -o-transition-timing-function: ease;
    transition-timing-function: ease;
    height: 36px;
    height: 3rem;
    line-height: 36px;
    line-height: 3rem;
    margin-top: 0px;
    margin-top: 0rem;
    margin-right: 0px;
    margin-right: 0rem;
    margin-bottom: 0px;
    margin-bottom: 0rem;
    margin-left: 0px;
    margin-left: 0rem;
    padding-top: 0px;
    padding-top: 0rem;
    padding-right: 12px;
    padding-right: 1rem;
    padding-bottom: 0px;
    padding-bottom: 0rem;
    padding-left: 12px;
    padding-left: 1rem;
    background-color: #ff6a00;
    border: none;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    overflow: visible;
    text-decoration: none;
  }
  /* line 202, ../../src/scss/_typography.scss */
  button:hover, .button:hover {
    background-color: #ff9800;
    color: #fff;
    text-decoration: none;
  }
  /* line 207, ../../src/scss/_typography.scss */
  button.disabled, button.disabled:hover, .button.disabled, .button.disabled:hover {
    background-color: #7f7f7f;
  }

  /*
  	Interactive elements
  */
  /* line 214, ../../src/scss/_typography.scss */
  menu {
    margin-top: 0px;
    margin-top: 0rem;
    margin-right: 0px;
    margin-right: 0rem;
    margin-bottom: 0px;
    margin-bottom: 0rem;
    margin-left: 0px;
    margin-left: 0rem;
    padding-top: 0px;
    padding-top: 0rem;
    padding-right: 0px;
    padding-right: 0rem;
    padding-bottom: 0px;
    padding-bottom: 0rem;
    padding-left: 0px;
    padding-left: 0rem;
    display: block;
  }

  /*
  	Miscellaneous elements
  */
  /* line 222, ../../src/scss/_typography.scss */
  div {
    display: block;
  }
}
@media all and (max-width: 480px) {
  /* line 231, ../../src/scss/_typography.scss */
  html {
    font-size: 62.5%;
  }
}
